<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Ajaxshop>
            <version>2.2.0</version>
        </Etheme_Ajaxshop>
    </modules>
    <global>
        <helpers>
            <ajaxshop>
                <class>Etheme_Ajaxshop_Helper</class>
            </ajaxshop>
        </helpers>
        <blocks>
            <ajaxshop>
                <class>Etheme_Ajaxshop_Block</class>
            </ajaxshop>
            <catalog>
                <rewrite>
                    <layer_filter_price>Etheme_Ajaxshop_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <layer>Etheme_Ajaxshop_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Etheme_Ajaxshop_Model_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </models>
        <resources>
            <ajaxshop_setup>
                <setup>
                    <module>Etheme_Ajaxshop</module>
                    <class>Etheme_Ajaxshop_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxshop_setup>
            <ajaxshop_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxshop_write>
            <ajaxshop_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxshop_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ajaxshop>
                    <file>ajaxshop.xml</file>
                </ajaxshop>
            </updates>
        </layout>
        <routers>
            <ajaxshop>
                <use>standard</use>
                <args>
                    <module>Etheme_Ajaxshop</module>
                    <frontName>ajaxshop</frontName>
                </args>
            </ajaxshop>
            <catalog>
                <args>
                    <modules>
                        <Etheme_Ajaxshop before="Mage_Catalog">Etheme_Ajaxshop_Catalog</Etheme_Ajaxshop>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Etheme_Ajaxshop before="Mage_CatalogSearch">Etheme_Ajaxshop_CatalogSearch</Etheme_Ajaxshop>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
    </frontend>
    <default>
        <ajax_shop>
            <price_slider_settings>
                <slider_loader_active>1</slider_loader_active>
            </price_slider_settings>
            <ajax_conf>
                <layered>1</layered>
                <slider>1</slider>
                <toolbar>1</toolbar>
            </ajax_conf>
        </ajax_shop>
    </default>
</config>