<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Welldone>
            <version>1.0.0</version>
        </Etheme_Welldone>
    </modules>
    <admin>
        <routers>
            <welldone>
                <use>admin</use>
                <args>
                    <module>Etheme_Welldone</module>
                    <frontName>welldone</frontName>
                </args>
            </welldone>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <welldone>
                <title>Welldone v 1.0.0</title>
                <sort_order>10000</sort_order>
                <children>
                    <maintenance>
                        <title>Install</title>
                        <sort_order>0</sort_order>
                        <children>
                            <!--<install>
                                <title>Install Theme</title>
                                <sort_order>1</sort_order>
                                <action>welldone/adminhtml_installtemplate</action>
                            </install>-->
                            <load_preset_configuration>
                                <title>Install Theme</title>
                                <sort_order>2</sort_order>
                                <action>welldone/adminhtml_loadpresetconfig</action>
                            </load_preset_configuration>
                            <!--<save_cur_blocks>
                                <title>Save preset configuration</title>
                                <sort_order>3</sort_order>
                                <action>welldone/adminhtml_saveconfig</action>
                            </save_cur_blocks>-->
                            <reset_cms_blocks>
                                <title>Install/Reset blocks/pages</title>
                                <sort_order>4</sort_order>
                                <action>welldone/adminhtml_resetcmsblocks</action>
                            </reset_cms_blocks>
                        </children>
                    </maintenance>
                    <config>
                        <title>Theme Settings</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/system_config/edit/section/welldone</action>
                    </config>
                    <colors>
                        <title>Theme Colors</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/system_config/edit/section/welldonecolors</action>
                    </colors>
                    <layout>
                        <title>Theme Layout</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/system_config/edit/section/welldonelayout</action>
                    </layout>
                </children>
            </welldone>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <welldone>
                                            <title>Theme Settings</title>
                                        </welldone>
                                        <welldonecolors>
                                            <title>Theme Colors</title>
                                        </welldonecolors>
                                        <welldonelayout>
                                            <title>Theme Layout</title>
                                        </welldonelayout>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <welldone>
                            <title>Welldone</title>
                            <sort_order>10001</sort_order>
                            <children>
                                <maintenance>
                                    <title>Theme Maintenance</title>
                                    <children>
                                        <install>
                                            <title>Install Theme</title>
                                        </install>
                                        <load_preset_configuration>
                                            <title>Load skin</title>
                                        </load_preset_configuration>
                                        <reset_cms_blocks>
                                            <title>Reset CMS blocks/pages to default</title>
                                        </reset_cms_blocks>
                                    </children>
                                </maintenance>
                                <config>
                                    <title>Theme Configuration</title>
                                </config>
                            </children>
                        </welldone>
                    </children>
                </admin>
            </resources>
        </acl>
       <!-- <events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <welldone>
                        <type>singleton</type>
                        <class>welldone/observer</class>
                        <method>hookTo_controllerActionPostdispatchAdminhtmlSystemConfigSave</method>
                    </welldone>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <store_edit>
                <observers>
                    <welldone>
                        <type>singleton</type>
                        <class>welldone/observer</class>
                        <method>hookTo_storeEdit</method>
                    </welldone>
                </observers>
            </store_edit>
        </events>-->
    </adminhtml>
    <global>
        <events>
            <admin_system_config_changed_section_welldone>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>Etheme_Welldone_Model_Observer</class>
                        <method>saving_welldone</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_welldone>
            <admin_system_config_changed_section_welldonecolors>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>Etheme_Welldone_Model_Observer</class>
                        <method>saving_welldonecolors</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_welldonecolors>
        </events>
        <models>
            <welldone>
                <class>Etheme_Welldone_Model</class>
            </welldone>
        </models>
        <blocks>
            <welldone>
                <class>Etheme_Welldone_Block</class>
            </welldone>

            <opc>
                <rewrite>
                    <links>Etheme_Welldone_Block_Opc_Links</links>
                </rewrite>
            </opc>
        </blocks>
        <helpers>
            <welldone>
                <class>Etheme_Welldone_Helper</class>
            </welldone>
            <configurableswatches>
                <rewrite>
                    <mediafallback>Etheme_Welldone_Helper_ConfigurableSwatches_Mediafallback</mediafallback>
                </rewrite>
            </configurableswatches>
        </helpers>
        <resources>
            <welldone_setup>
                <setup>
                    <module>Etheme_Welldone</module>
                </setup>
            </welldone_setup>
        </resources>
        <page>
            <layouts>
                <one_column_full_width translate="label">
                    <label>1 column Full Width</label>
                    <template>page/1column_full_width.phtml</template>
                    <layout_handle>page_one_column_full_width</layout_handle>
                </one_column_full_width>
                <!-- add more layouts here -->
            </layouts>
        </page>
    </global>

    <default>
        <welldone>
            <options>
                <show_load>0</show_load>
                <site_boxed>0</site_boxed>
                <newsletter_popup>0</newsletter_popup>
                <image_rollover_mode>0</image_rollover_mode>
                <quick_view>0</quick_view>
                <catalog_mode>0</catalog_mode>
                <rtl_mode>0</rtl_mode>
                <ajax_add_to_cart>0</ajax_add_to_cart>
                <ajax_wish_comp>0</ajax_wish_comp>
                <show_add_to_cart>0</show_add_to_cart>
                <show_add_to_wishlist>0</show_add_to_wishlist>
                <show_add_to_compare>0</show_add_to_compare>
                <show_rating>1</show_rating>
                <show_back_to_top>0</show_back_to_top>
                <countdown>1</countdown>
                <footer>0</footer>
            </options>
            <megamenu>
                <home_link>0</home_link>
                <left_part>0</left_part>
                <right_part>0</right_part>
                <black_list></black_list>
                <top_html>0</top_html>
                <btm_html>0</btm_html>
                <right_html>0</right_html>
                <black_list_left></black_list_left>
                <left_menu>0</left_menu>
            </megamenu>
            <product_labels>
                <show_sale_label>1</show_sale_label>
                <discount_label>1</discount_label>
                <show_new_label>1</show_new_label>
                <quick_view>0</quick_view>
                <show_add_to_cart>0</show_add_to_cart>
                <show_add_to_wishlist>0</show_add_to_wishlist>
                <show_add_to_compare>0</show_add_to_compare>
                <show_rating>0</show_rating>
                <countdown>0</countdown>
            </product_labels>
            <social_accounts>
                <show_facebook_widget>0</show_facebook_widget>
                <facebook_profile_name></facebook_profile_name>
                <show_twitter_widget>0</show_twitter_widget>
                <twitter_account></twitter_account>
                <twitter_feeds_count></twitter_feeds_count>
                <googlemap_form></googlemap_form>
            </social_accounts>
            <general>
                <show_load>1</show_load>
                <site_boxed>0</site_boxed>
                <newsletter_popup>1</newsletter_popup>
                <catalog_mode>0</catalog_mode>
                <rtl_mode>0</rtl_mode>
                <ajax_add_to_cart>0</ajax_add_to_cart>
                <ajax_wish_comp>0</ajax_wish_comp>
                <show_back_to_top>1</show_back_to_top>
                <footer>0</footer>
                <favicon_with_count>0</favicon_with_count>
                <site_width>0</site_width>
                <logo_header>default/logo.png</logo_header>
                <logo_header_mobile>default/logo-mobile.png</logo_header_mobile>
                <logo_footer>default/logo-transparent.png</logo_footer>
            </general>
            <products>
                <quick_view>1</quick_view>
                <show_add_to_cart>1</show_add_to_cart>
                <show_add_to_wishlist>1</show_add_to_wishlist>
                <show_add_to_compare>1</show_add_to_compare>
                <show_rating>1</show_rating>
                <countdown>1</countdown>
                <show_sale_label>1</show_sale_label>
                <discount_label>1</discount_label>
                <show_new_label>1</show_new_label>
            </products>
        </welldone>
        <welldonelayout>
            <options>
                <header>default</header>
                <header_fixed>0</header_fixed>
                <header_news>0</header_news>
                <slider_show>0</slider_show>
                <slider_left_block_categories>0</slider_left_block_categories>
                <topservices>0</topservices>
                <izotop_mode>0</izotop_mode>
                <product_view>type_1</product_view>
                <cloudzoom>0</cloudzoom>
                <keep_image_aspect_ratio>0</keep_image_aspect_ratio>
                <image_width></image_width>
                <image_height></image_height>
                <sku>0</sku>
                <stars>0</stars>
                <custom_html_block>0</custom_html_block>
                <related_products>0</related_products>
                <upsell_products>0</upsell_products>
                <video>0</video>
                <prevnext>0</prevnext>
                <tabs>0</tabs>
            </options>
            <sidebar>
                <my_cart>0</my_cart>
                <topmenu>0</topmenu>
                <currency>0</currency>
                <language>0</language>
                <toplinks>0</toplinks>
                <compare>0</compare>
                <search>0</search>
                <shop_by>0</shop_by>
                <popular_tags>0</popular_tags>
                <custom_block>0</custom_block>
                <community_poll>0</community_poll>
                <viewed>0</viewed>
                <wishlist>0</wishlist>
                <social_contacts>0</social_contacts>
                <footer_products>0</footer_products>
                <store>0</store>
                <newsletter>0</newsletter>
                <footer_links>0</footer_links>
            </sidebar>
            <general>
                <header>1</header>
                <header_fixed>1</header_fixed>
                <izotop_mode>0</izotop_mode>
                <product_view>type_1</product_view>
                <cloudzoom>0</cloudzoom>
                <keep_image_aspect_ratio>0</keep_image_aspect_ratio>
                <image_width></image_width>
                <image_height></image_height>
                <sku>0</sku>
                <stars>0</stars>
                <custom_html_block>0</custom_html_block>
                <related_products>0</related_products>
                <upsell_products>0</upsell_products>
                <video>0</video>
                <prevnext>0</prevnext>
                <tabs>0</tabs>
                <header_topline>1</header_topline>
                <footer_short>0</footer_short>
                <products_in_row>four</products_in_row>
                <opened_filter>0</opened_filter>
                <attr_groups>opened</attr_groups>
                <footer_toplinks>1</footer_toplinks>
                <footer_info_links>1</footer_info_links>
                <footer_subscribe_line>1</footer_subscribe_line>
            </general>
            <blog>
                <recent_posts>1</recent_posts>
                <title>1</title>
                <circle_images>1</circle_images>
                <readmore>1</readmore>
                <date>1</date>
                <top_margin>0</top_margin>
                <layout>right</layout>
                <layout_post>content</layout_post>
                <post_parallax_top>1</post_parallax_top>
                <post_parallax_btm>0</post_parallax_btm>
                <post_comments>1</post_comments>
                <grid>0</grid>
            </blog>
            <slider>
                <slider>0</slider>
            </slider>
            <newsletter>
                <popup>1</popup>
                <delay>2000</delay>
            </newsletter>
            <product>
                <layout>default</layout>
                <cloudzoom>0</cloudzoom>
                <keep_image_aspect_ratio>0</keep_image_aspect_ratio>
                <image_width>832</image_width>
                <image_height>1044</image_height>
                <sku>1</sku>
                <stars>1</stars>
                <custom_html_block>0</custom_html_block>
                <related_products>1</related_products>
                <upsell_products>1</upsell_products>
                <video>1</video>
                <prevnext>1</prevnext>
                <tabs>sticky</tabs>
                <media>cloudzoom</media>
            </product>
        </welldonelayout>
    </default>
</config>