<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Ajaxaddto>
            <version>0.1.0</version>
        </Etheme_Ajaxaddto>
    </modules>
    <frontend>
        <routers>
            <ajax>
                <use>standard</use>
                <args>
                    <module>Etheme_Ajaxaddto</module>
                    <frontName>ajax</frontName>
                </args>
            </ajax>
            <checkout>
                <args>
                    <modules></modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <ajax>
                    <file>ajaxaddto.xml</file>
                </ajax>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <ajax>
                <class>Etheme_Ajaxaddto_Model</class>
                <resourceModel>ajax_mysql4</resourceModel>
            </ajax>
            <ajax_mysql4>
                <class>Etheme_Ajaxaddto_Model_Mysql4</class>
                <entities>
                    <ajax>
                        <table>ajax</table>
                    </ajax>
                </entities>
            </ajax_mysql4>
        </models>
        <resources>
            <ajax_setup>
                <setup>
                    <module>Etheme_Ajaxaddto</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajax_setup>
            <ajax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajax_write>
            <ajax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajax_read>
        </resources>
        <blocks>
            <ajax>
                <class>Etheme_Ajaxaddto_Block</class>
            </ajax>
        </blocks>
        <helpers>
            <ajaxaddto>
                <class>Etheme_Ajaxaddto_Helper</class>
            </ajaxaddto>
        </helpers>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <etheme_ajaxaddto_observer>
                        <type>singleton</type>
                        <class>Etheme_Ajaxaddto_Model_Observer</class>
                        <method>getListproduct</method>
                    </etheme_ajaxaddto_observer>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>
</config>